@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico-Regular.ttf");
}

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    min-height: 60px;
    background-color: black;
    padding-top: 20px;
    color: white;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.photo {
    background-image: url(../images/23.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex!important;
    text-align: center!important;
    color:#ffffff!important;
}

@media (min-width: 992px) {
    header.photo {
        min-height: 600px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.my-auto {
    margin-bottom: auto!important;
    margin-top: auto!important;
}

.my-auto .col-xs-12 {
    padding-bottom: 20px;
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

.jumbotron {
    background: #ffffff;
    text-align: center;
    color: black;
    margin-bottom: 0;
}
hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
}
.header .photo hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.services {
    background: #ffffff;
    display: flex;
    padding: 20px 0 20px 0;
}
.gallery {
    display: flex;
    /*background: #9300d0;*/
    padding: 20px 0 20px 0;
}
.form {
    display: flex;
    text-align: center;
    padding: 50px 0 10px 0;
    /*background: #67009a;*/
    background: #ffffff;
}

.land_title {
    margin: 0 0 9px;
    font-size: 22px;
}

.item_keys {
    box-sizing: border-box;
}

.service-box {
    box-sizing: border-box;
    padding: 30px 0 30px 0;
}

.service-box .img-responsive {
    margin: 0 auto;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.btn-apply {
    margin-top:10px;
    color:white!important;
    background: #ff0000;
    border: 2px solid white;
    font-weight: bold;
}

.btn-apply:hover {
    color: white;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.has-error input{
    color: black!important;
}

.slider-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-size: 100%;
    background-repeat: no-repeat;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%)!important;
    opacity: 1!important;
}
.carousel-control.right {
    background-image: linear-gradient(to left, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%)!important;
    opacity: 1!important;
}

.carousel-control.left:hover {
    background-image: linear-gradient(to right, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%)!important;
    opacity: 1!important;
}

.carousel-control.right:hover {
    background-image: linear-gradient(to left, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%)!important;
    opacity: 1!important;
}

.iit {
    padding-bottom: 80px;
}

.form-group input{
    border-radius: 0!important;
    padding: 18px;
    font-size: 14px;
}
.form-group select#applicationform-type.form-control {
    border-radius: 0!important;
}

.p_title {
    color:black!important;
}

span.glyphicon.glyphicon-chevron-left {
    color: black!important;
}
span.glyphicon.glyphicon-chevron-right {
    color: black!important;
}

.ib {
    background: #f89c4c;
    color:white!important;
    font-size:15px;
    font-weight: bold;
    min-width: 200px!important;
    margin-bottom: 20px;
}

.ib:hover {
    background: #f2812b;
}

ol.carousel-indicators {
    bottom: 0px;
}

.carousel-indicators li{
    /*border:2px solid #9100ff;*/
    /*opacity: 0.5;*/
    border:1px solid grey;
}

.carousel-indicators li.active {
    /*background: #9100ff;*/
    border:1px solid black;
    opacity: 0.5;
}

@media (min-width: 768px) {

    .slider-item {
        height: 600px;
    }

    p.text-faded.mb-5 {
        background: #4600ce;
        width: 10%;
        margin:0 auto;
        padding: 7px;
    }

    p.text-faded.mb-5:hover {
        background: orange;
    }

    .alert-danger.alert.fade {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .alert-success.alert.fade {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    div.form-group.field-applicationform-type {
        width: 50%;
        margin: 0 auto;
        color:white;
    }

    div.form-group.field-applicationform-name {
        width: 50%;
        margin: 0 auto;
        color:white;
    }

    div.form-group.field-applicationform-phone {
        width: 50%;
        margin: 0 auto;
        color:white;
    }

    div.form-group.field-applicationform-email {
        width: 50%;
        margin: 0 auto;
        color:white;
    }
}

@media (max-width:767px) {
    p.text-faded.mb-5 {
        width: 120px;
        background: #4600ce;
        margin: 0 auto;
        padding: 3px;
    }

    p.text-faded.mb-5:hover {
        background: orange;
    }
    h2 strong {
        color:#f79400!important;
    }

    .slider-item {
        height:300px!important;
    }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

section.gallery {
    color:black!important;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

div.modal-content {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

div.modal-header {
    background-color: #f2812b;
}

#map {
    width: 100%;
    height: 300px;
    background-color: grey;
}
